/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@500&family=Sofia+Sans+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #FCF6E3;
}

/* Changing the background colour for the header */

header {
	background-color: #FCF6E3;
	
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FCF6E3;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.bigtitle {
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: #FCF6E3;
	font-size: calc(10px + 1vw); 
}

.navbartext {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #D4610E;
	font-size: 15px;	
}

.aboutustitle {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #d4610e;
}

.polaroid {
  width: 70%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.containerpolaroid {
	text-align: center;
  padding: 10px 20px;
}

.marginside {
	margin-left: auto;
	margin-right: auto
}

.text-expand {
  text-indent: 50px;
  text-align: justify;
}

.button {
    background-color: white;
	color: #d4610e;
    border:2px solid #d4610e;
	border-color: #d4610e;
	font-size: 16px;
	padding: 12px 28px;
	border-radius: 8px;	
	transition-duration: 0.4s;
}

.button:hover {
	background-color: #d4610e;
	color: white;
}